<div class="header">
  <div class="main-nav">
    <div class="container">
      <ul class="nav-list">
        <li class="page-link {% if page.url == "/" %} active {% endif %}">
          <a href="/{{ site.baseurl }}">About</a>
        </li>
        {% assign sorted_pages = (site.pages | sort: 'order') %}
        {% for _page in sorted_pages %}
          {% if _page.title %}
            {% if _page.menu == "main" %}
              <li class="page-link {% if _page.url == page.url %} active {% endif %}">
                <a href="{{ _page.url | prepend: site.baseurl }}">{{ _page.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="header-text">
      {% if page.layout == "home" %}
      <h1 class="header-title">Michael Hamilton</h1>
      <h2 class="header-subtitle">I'm a javascript developer.<span class="blink">|</span></h2>
      {% elsif page.is_post %}
      <h1 class="header-title">Blog</h1>
      {% else %}
      <h1 class="header-title">{{ page.title }}</h1>
      {% endif %}

    </div>
  </div>
</div>