---
layout: page
title: Work
permalink: /work/
menu: main
order: 2
---

<div class="row">

	{% assign sorted_pages = (site.pages | sort: 'order') %}
        {% for _page in sorted_pages %}
          {% if _page.title %}
            {% if _page.menu == "work" %}
		      	<div class="article">
		          <h1 class="title">{{ _page.title }}</h1>
		          <a href="{{ _page.url | prepend: site.baseurl }}" class="btn btn-default">Read More</a>
		    	</div>
            {% endif %}
          {% endif %}
        {% endfor %}

</div>
